.mainWrapper{
   padding: 18px;
   display: flex;
   flex-wrap: wrap;
   min-height: 100vh;
   background-color: gray;
   a{
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      font-weight: 600;
      width: 160px;
      height: 50px;
      cursor: pointer;
      &:hover{
         text-decoration: underline;
         color: yellow;
      }
   }
}
.form{
   position: relative;
   width: 60%;
   min-width: 300px;
   input{
      width: 100%;
      margin-bottom: 12px;
   }
   label, input[type="checkbox"] {
      width:fit-content;
   }
   button{
     position: absolute;
     right: 0;
   }
}
.prodListTable{
   margin: 10px auto;
   width: 80%;
   text-align: center;
   border: 1px solid black;
   border-collapse: collapse;
}
th, td {
   border: 1px solid black;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
tr{
   position: relative;
}
// tr::after{
//    content: "show comments";
//    position: absolute;
//    text-align: center;   
//    top: -20px;
//    left: 40%;
//    width: 300px;
//    height: 20px;  
//    background-color: rgba(5, 5, 5, 0.918);
//    color: white;
//    visibility: hidden;
// }

// tr:hover::after{
//    visibility: visible;
//    z-index: 3;
// }